@font-face {
    font-family: "Dancing Script";
    src: url("/assets/fonts/DancingScript.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Merriweather */
@font-face {
  font-family: "Merriweather";
  src: url("/assets/fonts/Merriweather.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Merriweather */
@font-face {
  font-family: "Lora";
  src: url("/assets/fonts/Lora.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}