@use "../base" as base;

.contact-split {
    padding: 5rem 20% 5rem 20%;

    display: flex;
    flex-flow: row nowrap;

    > * {
            flex: 1 1 0;
            min-width: 0;
            padding: 1rem;
            box-sizing: border-box;

        p {
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
    }

    .contact-split__right {
        .input-field {
            display: flex;
            flex-flow: column nowrap;
        }  
        
        button {
            margin-top: .5rem;
        }
    }
    

    
    @include base.respond-max(lg) {
        flex-flow: column nowrap;
        padding: 4rem 10% 2rem 10%;
    }
}