@use "../base" as base;

.google-reviews {
    .review__name {
        font-weight: bold;
    }

    .review__text {
        font-size: 75%;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}