.hero {
    padding: 10% 5% 0 5%;
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 1px #000000;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
}
