@use "../base" as base;

.hero {
    position: relative;
    padding: 10% 5% 0 5%;
    color: white;
    text-shadow: 2px 2px 1px #000000;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100dvh - base.$blocker-height);
    height: calc(100vh - base.$blocker-height);
    width: 100%;

    .hero__header {
        font-size: 200%;
    }

    .hero__text {
        font-size: 175%;
    }

    .hero__actions {
        font-size: 125%;
    }

    .hero__lower {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 125%;
        width: 100%;
        padding: 1rem 0;
        background-color: rgba(base.$black, 0.75);
        color: base.$white;
        text-shadow: 2px 2px 1px #000000;

        a {
            color: base.$white;
        }

        .hero__hotline {
            display: flex;
            flex-flow: row wrap;
            padding: 0 5%;
        }
    }
}
