<footer id="site-footer">
  <div class="footer__container">
    <div class="footer__brand">
      <a class="logo" href="{{ '/' | url }}">
        <img class="logo-image" src="{{ '/assets/images/logo_painting_white.png' | fingerprint | url }}" alt="Darlene Kay Painting">
        <img class="logo-image" src="{{ '/assets/images/logo_roofing.png' | fingerprint | url }}" alt="Darlene Kay Roofing">
        <p class="logo-text">Darlene Kay Painting & Roofing</p>
      </a>
    </div>
    <div class="footer__details">
      <div class="footer__contact">
          <p class="footer__title">Contact Info</p class="h6">
          <a href="tel:7209331762"><i class="fa-solid fa-phone"></i> (720) 933-1762</a>
          <br>
          <a href="mailto:roy@darlenekay.com"><i class="fa-solid fa-envelope"></i> roy@darlenekay.com</a>
          <br>
          <br>
          <p>Monday - Saturday</p>
          <p>8am - 5pm</p>
      </div>
      <div class="footer__info">     
        <p class="footer__title">Service Areas</p class="h6">
        <ul>
          <li>
            Aurora
          </li>
          <li>
            East Denver
          </li>
          <li>
            Parker
          </li>
          <li>
            Centennial
          </li>
          <li>
            Castle Rock
          </li>
        </ul>
      </div>
      <div class="footer__content">
        <p class="footer__title">Quick Links</p class="h6">
        <ul class="footer__links">
          {% for item in site.footer %}
            <li>
              <a href="{{ item.href | url }}">{{ item.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="footer__badges">
      <img src="{{ '/assets/images/williams.png' | fingerprint | url }}" alt="Sherwin-Williams" width="85px">
      <img src="{{ '/assets/images/homeadvisor.png' | fingerprint | url }}" alt="HomeAdvisor" width="85px">
      <img src="{{ '/assets/images/bbb-a-plus.png' | fingerprint | url }}" alt="BBB A+ Rating" width="200px">
    </div>
    <div class="footer__legal">
      <hr>
      <p>Copyright  © {{ site.year }} {{ site.site_name }}. All rights reserved.</p>
    </div>
  </div>
</footer>
