<!-- Text carousel-images -->
<div class="carousel-images" id="carousel-images">
  <button class="carousel-images__btn carousel-images__btn--prev">&#10094;</button>
  <div class="carousel-images__track">
    {% for galleryImage in site.galleryImages %}
      <div class="carousel-images__item">
        {% image galleryImage.src, galleryImage.alt %}
      </div>
    {% endfor %}
  </div>
  <button class="carousel-images__btn carousel-images__btn--next">&#10095;</button>
</div>
