<!-- Image carousel -->
<div class="carousel" id="carousel-images">
  <button class="carousel__btn carousel__btn--prev">&#10094;</button>
  <div class="carousel__track">
    <div class="carousel__item"><img src="/assets/images/home1.webp" alt="Example 1"></div>
    <div class="carousel__item"><img src="/assets/images/home2.webp" alt="Example 2"></div>
    <div class="carousel__item"><img src="/assets/images/home3.webp" alt="Example 3"></div>
  </div>
  <button class="carousel__btn carousel__btn--next">&#10095;</button>
</div>