<!-- Text carousel-text -->

<div class="carousel-text" id="carousel-text">
  <button class="carousel-text__btn carousel-text__btn--prev">&#10094;</button>
  <div class="carousel-text__track">
    {% for review in site.reviews %}
        <div class="carousel-text__item">
          <a href="{{ review.link }}" target="_blank">
            <p class="review__name">{{ review.reviewer }}</p>
          </a>
          <span class="stars">
            {% for i in range(0, review.stars) %}
              <i class="fa-solid fa-star"></i>
            {% endfor %}
            {% for i in range(review.stars, 5) %}
              <i class="fa-regular fa-star"></i>
            {% endfor %}
          </span>
          <p class="review__text">"{{ review.text }}"</p>
          <p class="review__text">- {{ review.source }}</p>
        </div>
    {% endfor %}
  </div>
  <button class="carousel-text__btn carousel-text__btn--next">&#10095;</button>
</div>
