<!-- Text carousel-images -->
<div class="carousel-images" id="carousel-images">
  <button class="carousel-images__btn carousel-images__btn--prev">&#10094;</button>
  <div class="carousel-images__track">
    {% for image in site.galleryImages %}
      <div class="carousel-images__item">
        <img src="{{ image.src | fingerprint | url }}" alt="{{ image.alt }}" loading="lazy">
      </div>
    {% endfor %}
  </div>
  <button class="carousel-images__btn carousel-images__btn--next">&#10095;</button>
</div>
