@use "../../base" as base;

.intro {
    padding: 5rem 20% 2rem 20%;

    .intro__text {
        max-width: 1300px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        
        .intro__header {
            padding: 1rem 0;
        }

        .intro__badge {
            padding: 2rem 0;
        }

        .intro__cols {
            width: 70%;
        }
    }

    @include base.respond-max(lg) {
        padding: 4rem 10% 2rem 10%;

        .intro__text {
            .intro__cols {
                width: 100%;
            }
        }
    }

    @include base.respond-max(lg) {
        padding: 4rem 5% 2rem 5%;
    }
}