@use "base/normalize";
@use "components/nav";
@use "components/hero";
@use "components/intro";
@use "components/footer";

@use "./base" as base;

@import "base/fonts";

a {
    text-decoration: none;
}

main a {
    color: base.$background;
}

h1, .logo-text {
    font-family: "Dancing Script", cursive;
}

h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

body {
    font-family: "Merriweather", serif;
}

.fullsize {
    width: 100%;
}

.icon {
    width: base.$logo-size * 1.5;
}

.mini-icon {
    width: base.$logo-size;
}

.hidden {
    display: none !important;
}

button {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    padding: .35rem .85rem;
}

li {
    list-style-type: none;
}