@use "base/normalize";
@use "components/home/" as *;
@use "components/404/404" as *;
@use "components/navbar/navbar";
@use "components/footer/footer";

@use "./base" as base;

@import "base/fonts";

main a {
    color: base.$primary;
}

.fullsize {
    width: 100%;
}

.icon {
    width: base.$logo-size * 1.5;
}

.mini-icon {
    width: base.$logo-size;
}