<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title or site.site_name }}</title>
    <link rel="icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | fingerprint | url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/icons/icon-192.png' | url }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ '/assets/icons/icon-192.png' | url }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ '/assets/icons/icon-512.png' | url }}">
    <meta name="description" content="{{ description or site.tagline }}">
    <link rel="manifest" href="{{ '/site.webmanifest' | url }}">
    <meta name="theme-color" content="#EC5221">
    <meta property="og:title" content="{{ title or site.site_name }}">
    <meta property="og:description" content="{{ description or site.tagline }}">
    <meta property="og:image" content="{{ '/assets/images/Home1.webp' | url }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title or site.site_name }}">
    <meta name="twitter:description" content="{{ description or site.tagline }}">
    <meta name="twitter:image" content="{{ '/assets/images/Home1.webp' | url }}">


    <!-- Preload fonts -->
    <link rel="preload" href="{{ '/assets/fonts/DancingScript.woff2' | fingerprint | url }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ '/assets/fonts/Montserrat.woff2' | fingerprint | url }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ '/assets/fonts/Merriweather.woff2' | fingerprint | url }}" as="font" type="font/woff2" crossorigin>

    <!-- Preload critical CSS -->
    <link rel="preload" href="{{ '/assets/css/main.css' | fingerprint | url }}" as="style">

    <!-- Async load Font Awesome (non-critical) -->
    <link rel="preload" href="{{ '/assets/fontawesome/css/all.min.css' | fingerprint | url }}" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ '/assets/fontawesome/css/all.min.css' | fingerprint | url }}"></noscript>

    <!-- Critical CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | fingerprint | url }}">
    
    <!-- Defer JS -->
    <script src="{{ '/assets/js/ui/index.js' | fingerprint | url }}" type="module" defer></script>
  </head>
  <body>
    {% set branding = brand or "main" %}
    <header id="header">
      {% include "components/navbar.njk" %}
    </header>
    <div class="blocker"></div>

    <main id="{{ identifier }}">
      {{ content | safe }}
    </main>

    {% include "components/footer.njk" %}
  </body>
</html>
