---
title: Project Gallery
layout: layouts/base.njk
permalink: /painting/gallery/
brand: "painting"
---

<section class="gallery container container-large">
  <h1>Project Gallery</h1>
  {% include "ui/carousel-image.njk" %}
</section>
