---
title: "Contact Darlene Kay"
description: "Get in touch for painting, roofing, or gutter estimates in Aurora and throughout the Denver metro area."
layout: layouts/base.njk
permalink: /contact/
brand: "main"
identifier: "contact"
---

<section class="contact-hero" style="background-image: url({{ '/assets/images/Home29.webp' | fingerprint | url }});">
  <div class="overlay">
    <h1>Let’s Build Something Beautiful</h1>
    <p>Painting • Roofing • Gutters</p>
  </div>
</section>

  <!-- CONTACT SECTION -->
<section class="contact container">
  <div class="contact__grid">
    
    <!-- Info Cards -->
    <div class="contact__info">
      <div class="info-card">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M224.2 89C216.3 70.1 195.7 60.1 176.1 65.4L170.6 66.9C106 84.5 50.8 147.1 66.9 223.3C104 398.3 241.7 536 416.7 573.1C493 589.3 555.5 534 573.1 469.4L574.6 463.9C580 444.2 569.9 423.6 551.1 415.8L453.8 375.3C437.3 368.4 418.2 373.2 406.8 387.1L368.2 434.3C297.9 399.4 241.3 341 208.8 269.3L253 233.3C266.9 222 271.6 202.9 264.8 186.3L224.2 89z"/></svg>
        <h3>Call Us</h3>
        <p><a href="tel:7209331762">(720) 933-1762</a></p>
      </div>
      <div class="info-card">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M112 128C85.5 128 64 149.5 64 176C64 191.1 71.1 205.3 83.2 214.4L291.2 370.4C308.3 383.2 331.7 383.2 348.8 370.4L556.8 214.4C568.9 205.3 576 191.1 576 176C576 149.5 554.5 128 528 128L112 128zM64 260L64 448C64 483.3 92.7 512 128 512L512 512C547.3 512 576 483.3 576 448L576 260L377.6 408.8C343.5 434.4 296.5 434.4 262.4 408.8L64 260z"/></svg>
        <h3>Email</h3>
        <p><a href="mailto:roy@darlenekay.com">Roy@DarleneKay.com</a></p>
      </div>
      <div class="info-card">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M128 252.6C128 148.4 214 64 320 64C426 64 512 148.4 512 252.6C512 371.9 391.8 514.9 341.6 569.4C329.8 582.2 310.1 582.2 298.3 569.4C248.1 514.9 127.9 371.9 127.9 252.6zM320 320C355.3 320 384 291.3 384 256C384 220.7 355.3 192 320 192C284.7 192 256 220.7 256 256C256 291.3 284.7 320 320 320z"/></svg>
        <h3>Location</h3>
        <p>Aurora, Colorado</p>
      </div>
    </div>

    <!-- Form -->
    <div class="contact__form-wrap">
      <h2>Send Us a Message</h2>
      <form id="contact-form" class="contact__form" action="https://formspree.io/f/mvgwanzz" method="POST" >
        <div class="input-field">
          <input type="text" name="firstName" placeholder="First Name *" required>
        </div>
        <div class="input-field">
          <input type="text" name="lastName" placeholder="Last Name *" required>
        </div>
        <div class="input-field">
          <input type="email" name="email" placeholder="Email *" required>
        </div>
        <div class="input-field">
          <input type="text" name="phone" placeholder="Phone">
        </div>
        <div class="input-field">
          <textarea name="comments" rows="4" placeholder="Your Message"></textarea>
        </div>
        <button type="submit" class="btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M568.4 37.7C578.2 34.2 589 36.7 596.4 44C603.8 51.3 606.2 62.2 602.7 72L424.7 568.9C419.7 582.8 406.6 592 391.9 592C377.7 592 364.9 583.4 359.6 570.3L295.4 412.3C290.9 401.3 292.9 388.7 300.6 379.7L395.1 267.3C400.2 261.2 399.8 252.3 394.2 246.7C388.6 241.1 379.6 240.7 373.6 245.8L261.2 340.1C252.1 347.7 239.6 349.7 228.6 345.3L70.1 280.8C57 275.5 48.4 262.7 48.4 248.5C48.4 233.8 57.6 220.7 71.5 215.7L568.4 37.7z"/></svg> Submit</button>
      </form>
      <div id="form-status"></div>
    </div>
  </div>
</section>
