@use "../abstracts/mixins" as mixins;

$container-block-sizes: (
  xl: 20rem,
  large: 8rem,
  medium: 5rem,
  small: 2rem
);

$container-block-sizes-lg: (
  xl: 10rem,
  large: 5rem,
  medium: 3rem
);

.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: clamp(1.5rem, 6vw, 6rem);

  @each $name, $value in $container-block-sizes {
    &.container-#{$name} {
      padding-block: $value;
    }
  }

  &.container-none {
    max-width: none;
    padding-inline: 0;
  }
}

@include mixins.respond-max(lg) {
  .container {
    padding-inline: clamp(1.25rem, 5vw, 3.5rem);

    @each $name, $value in $container-block-sizes-lg {
      &.container-#{$name} {
        padding-block: $value;
      }
    }
  }
}

@include mixins.respond-max(md) {
  .container {
    padding-inline: 1.25rem;
  }
}

