@use "../../base" as base;

#roofing {
    .contact-split {
        display: flex;
        flex-flow: row nowrap;
        
        > * {
            flex: 1 1 0;
            min-width: 0;
            padding: 1rem;
            box-sizing: border-box;
            
            p {
                word-wrap: break-word;
                overflow-wrap: break-word;
            }
        }
        
        .contact-split__right {
            .input-field {
                display: flex;
                flex-flow: column nowrap;
            }  
            
            button {
                margin-top: .5rem;
            }
        }
        
        &.roofing {
            a {
                color: base.$roofing;
            }
            
            button {
                background-color: base.$roofing-secondary;
                color: base.$white;
            }
        }
        
        
        @include base.respond-max(lg) {
            flex-flow: column nowrap;
        }
    }
}