@use "sass:color";
@use "../../base" as base;

#painting {
    .art-promo {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
        .art-promo-text {
            padding: 4rem 2rem;
            background-color: rgba(base.$white, 0.85);
            display: flex;
            flex-flow: column nowrap;
            align-items: start;
            gap: 40px
        }
        
        a.btn {
            color: base.$black;
            background-color: transparent;
            
            &:hover {
                color: color.scale($color: base.$black, $lightness: 20%);
            }
        }
    }
}