---
permalink: 404.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page Not Found</title>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  <section class="not-found">
    <h1>404</h1>
    <p>Sorry, the page you’re looking for can’t be found.</p>
    <a href="{{ '/' | url }}">Return to Home</a>
  </section>
</body>
</html>
