---
title: Client Testimonials (moved)
layout: layouts/base.njk
permalink: /client-testimonitals/
---
<meta http-equiv="refresh" content="0; url=/DarleneKay/testimonials/">
<p>Moved to <a href="/DarleneKay/testimonials/">/testimonials/</a></p>
