---
title: "Darlene Kay Painting | Home"
description: "This is the home page"
layout: layouts/base.njk
permalink: /
---

<section class="container container-large">
    <a href="{{ '/Painting' | url }}">Painting</a>
    <a href="{{ '/Roofing' | url }}">Roofing</a>
</section>