$primary: #EC5221;
$secondary: #319982;
$roofing: #4F7F4B;
$roofing-secondary: #2C497F;
$black: #111111;
$white: #F5F5F5;
$dark: #41463D;
$medium: #D9D8D3;
$light: #F8F4F9;

$logo-size: 85px;
$blocker-height: calc($logo-size + 1rem * 2);