$primary: #EC5221;
$secondary: #319982;
$highlight: #6F3B71;
$black: #111111;
$white: #F5F5F5;
$dark: #2E2E3A;
$medium: #BBB8B2;
$light: #F8F4F9;

$logo-size: 85px;
$blocker-height: calc($logo-size + 1rem * 2);